.navbar{
    background-color: #2da8ce;
}

.navbar .navbar-brand {
    color: #fcf9f9;
    font-weight: bold;
}

.navbar .nav-link {
    color: #fcf9f9;
    margin-right: 15px;
}

@media (max-width: 768px) {
    .navbar .nav-link {
        margin-right: 0;
        margin-bottom: 10px;
    }
}
